#LikeLogin {
    width: 20%;
    float: right;
    display: inline-block;
    background: lightsteelblue;
}

#Like {
    margin: 5px;
    height: 267px;
    background: url(http://lh6.ggpht.com/_nHEt80wjI5c/TE-8QGYCa7I/AAAAAAAABdo/SURy4evRj04/facebook%20like%20fan%20box%5B3%5D.jpg?imgmax=800);
    border: 1px solid gray;
}

#Login {
    margin: 5px;
    padding: 5px;
    background: white;
    border: 1px solid gray;
}

label {
    display: inline-block;
    width: 70px;
}

input {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 70%;
    clear: right;
}