#newsContainer {
    height: 470px;
    width: 80%;
    background: lightsteelblue;
    display: inline-block;
    position: relative;
}

.news {
    height: 200px;
    background: lightgoldenrodyellow;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;

}

.news h2 {
    display: inline-block;
    margin: 0;
    width: 380px;
}

.news .user {
    width: 70px;
    float: right;
    text-align: right;
}

.news .date {
    float: right;
    width: 150px;
}

.news p {
    height: 90px;
    overflow: hidden;
}

.pagination {
    position: absolute;
    right: -5px; bottom: 5px;
    text-align: right;
    padding-right: 5px;
}