#newsContainer {
    height: auto;
    width: 80%;
    background: lightsteelblue;
    display: inline-block;
    position: relative;
}

.news {
    background: lightgoldenrodyellow;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    text-align: justify;

}

.news h2 {
    display: inline-block;
    margin: 0;
}

.news .user {
    width: 50px;
    float: right;
}

.news .date {
    float: right;
    width: 100px;
}

.news p {

}

.pagination {
    position: absolute;
    right: -5px; bottom: 5px;
    text-align: right;
    padding-right: 5px;
}
